@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #0b99ce;
  --color-secondary: #fe3885;
  --color-accent: #17161A;

}





/* google font  Raleway*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Raleway", sans-serif;
}


